* {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

body {
    background-color: #DDDDDD;
}

nav {
    display: block;
    width: 1200px;
}

input {
    display: inline-block;
    width: 995px;
    color: #ec5a62;
    font-size: 120px;
    border: 0;
    background: #DDDDDD;
    border-radius: 5px;
    vertical-align: middle;
}

button {
    display: inline-block;
    width: 195px;
    border: 0;
}

section {
    display: block;
    width: 1200px;
    max-width: 100%;
    border: 0;
}

h2 {
    display: block;
    width: 397px;
    height: 80px;
    padding: 25px;
    background-color: #DDDDDD;
}

ul {
    display: inline-block;
    list-style: none;
    padding: 0;
}

li {
    display: block;
    width: 397px;
    height: 80px;
    border: 0 #F1F1F3;
    background: rgba(118, 117, 128, 0.05);
    font-weight: bolder;
    color: #c2c2c2;
    margin-bottom: 3px;
}

a {
    width: inherit;
    height: inherit;
    display: block;
    border: 0;
    padding: 15px;
    background: rgba(118, 117, 128, 0.05);
    font-weight: bolder;
    color: #727272;
    text-decoration: none;

}

a:hover {
    color: #ec5a62;
}

img {
    vertical-align: middle;
}

img.p {
    border-radius: 100px;
}